v2/n8n/supervisor-workflow.json
{
  "name": "Hyperliquid V2 Supervisor - audit only",
  "active": false,
  "settings": {"executionOrder": "v1"},
  "nodes": [
    {
      "id": "schedule",
      "name": "Every 24 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24}]}}
    },
    {
      "id": "audit",
      "name": "Build read-only evidence snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPERVISOR_WORKER_URL}}/v1/audit",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.SUPERVISOR_WORKER_TOKEN}}"}]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"mode\":\"read_only\",\"maximum_changes\":1,\"allow_merge\":false,\"allow_deploy\":false}"
      }
    },
    {
      "id": "gate",
      "name": "Proposal passed evidence gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 0],
      "parameters": {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{$json.outcome}}", "rightValue": "PROPOSE_PR", "operator": {"type": "string", "operation": "equals"}}]}}
    },
    {
      "id": "proposal",
      "name": "Create experiment branch and draft PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, -100],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPERVISOR_WORKER_URL}}/v1/proposals/{{$json.run_id}}/materialize",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.SUPERVISOR_WORKER_TOKEN}}"}]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"draft_pr\":true,\"merge\":false,\"deploy\":false}"
      }
    },
    {
      "id": "report",
      "name": "Archive no-change report",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [780, 100],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 24 hours": {"main": [[{"node": "Build read-only evidence snapshot", "type": "main", "index": 0}]]},
    "Build read-only evidence snapshot": {"main": [[{"node": "Proposal passed evidence gate?", "type": "main", "index": 0}]]},
    "Proposal passed evidence gate?": {"main": [[{"node": "Create experiment branch and draft PR", "type": "main", "index": 0}], [{"node": "Archive no-change report", "type": "main", "index": 0}]]}
  }
}
